.contact {
  display: flex;
  border: 3px  solid;
  align-items: center;
  gap: 15px;
  flex-direction: column;
   margin: 20 px;
}
.btn-form{
  border:2px solid;
 border-radius: 15px;
margin :5px;
}
h2{
  margin :3px;
}