.navbar{
  background-image: url("./assets/photos/ewss.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
  width: 100%; 
}
.navbar h2{
  text-align: center;
  font-family:'Times New Roman', Times, serif;
  font-size:50px;
  color: #ffffff;
  margin-top: 150px;
  margin-left: 300px;
}
a{
  color: #ffffff;
  justify-items: center;
  text-align: center;
  list-style: none;
  display: inline-block;
  text-decoration: none;
  gap: 60px;
  transition: all 0.1s ease 0.2s;
  font-weight:lighter;
  text-transform: uppercase;
  padding: 0 30px;
  font-weight:bolder;
}
  
.movie-card {
  display: inline-block;
  width: 250px;
  text-decoration: none;
  color: #000;
}
.movie-card img {
  width: 100%;
  border-radius: 10px;
  
}
.movie-card h3 {
  margin-top: 10px;
}
.home-container {
  background-image: url();
  padding: 20px;
}
.movie-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.details-container {
  padding: 20px;
  max-width: 700px;
  margin: auto;
}
.details-container img {
  width: 100%;
  border-radius: 8px;
}
.back-btn {
  display: inline-block;
  margin-top: 20px;
  text-decoration: none;
  color: #007bff;
}