.navbar {
  background-color: #000;
  height: 60px;
  width: 95.50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  margin: 0 auto;

}

.logo {
  color: #ffffff;
  font-size: 30px;
  font-weight: bold;
  align-items: center;      
  justify-content: space-between; 
  padding: 0 30px;
  margin: 0 auto;          
  
}
.logo {
  color: #ffffff;
  font-size: 30px;
  font-weight: bold;
}
.nav-links {
  display: flex;          
  gap: 50px;                  
}

.nav-links a {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  transition: 0.2s;
}
.nav-links a:hover {
  opacity: 0.7;
}
.banner {
  position: relative;
  width: 100%;
  height: 350px;
  overflow: hidden;
}
.banner-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(35%);
}
.banner-subtitle { 
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family:'Times New Roman', Times, serif;
  font-size: 20px;
  color: #fff;
  text-align: center;
  margin: 0;
}
.banner-title {
 position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 48px;
  font-weight: bold;
  text-shadow: 2px 2px 8px black;
  text-align: center;
  margin: 0;
}

.home{
  display: flex;
  flex-direction: column;
}
.home-container {
  background-image: url("./assets/photos/film-background-1334067869u9d.jpg");
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  grid-template-rows: 1fr 1fr;
  gap: 20px;
  border-radius: 10px;
  max-width: 1300px;
  height: 730px;
  margin: 10px auto;

}
.movie-card {
  display: flex;
  width: 210px;
  height: 350px;
  text-decoration: none;
  object-fit: cover;
  border-radius: 15px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  flex-direction: column;
  cursor: pointer;
  color: white;
  overflow: hidden;

.nav-links {
  display: flex;
  gap: 50px;
}

.nav-links a {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  transition: 0.2s;
  
}

.nav-links a:hover {
  opacity: 0.7;
}

.banner {
  position: relative;
  width: 100%;
  height: 350px;
  overflow: hidden;
}

.banner-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(35%);
}

.banner-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 48px;
  font-weight: bold;
  text-shadow: 2px 2px 8px black;
  text-align: center
}

.home {
  display: flex;
  flex-direction: column;
}

.home-container {
  background-image: url("./assets/photos/film-background-1334067869u9d.jpg");
  padding: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  grid-template-rows: 1fr 1fr;
  gap: 25px;
  border-radius: 10px;
  max-width: 1300px;
  height: 730px;
  margin: 20px auto;

}

.banner-subtitle {
  font-size: 14px;
  margin-top: 5px;
}

.movie-card {
  display: flex;
  width: 210px;
  height: 350px;
  text-decoration: none;
  object-fit: cover;
  border-radius: 15px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  flex-direction: column;
  cursor: pointer;
  color: white;
  overflow: hidden;

}

.movie-card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 15px;
}

.movie-card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px #6e6c6c;
}

.movie-title {
  color: white;
  text-align: center;
  padding: 10px 0;
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
}

.movie-title:hover {
  color: #6e6c6c;
}

.movie-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.details-container {
  display: flex;
  gap: 30px;
  max-width: 1250px;
  margin: 40px auto;
  padding: 20px;
  border-radius: 15px;
  background-color: #f7e7e7;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  color: #242020;
  align-items: stretch;
  flex-wrap: wrap;
}

.details-img-wrapper,
.details-info {
  flex: 1;
  min-width: 300px;
}

.details-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(139, 136, 136, 0.45);
}

.details-info ul {
  list-style: none;
  padding: 0;
  margin-top: 10px;
}

.details-info li {
  background: #f0f0f0;
  padding: 10px 12px;
  margin-bottom: 8px;
  border-radius: 10px;
  color: #242020;
  border: none;
  box-shadow: none;
}

.back-btn {
  display: inline-block;
  width: 100px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  background-color: #310a0a;
  color: white;
  text-decoration: none;
  font-weight: 600;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 20px;
  border: none;
  box-shadow: none;
  transition: 0.3s;
}

#formMessage{
font-size: large;
}
.back-btn:hover {
  background-color: #570206;
}

/* Partie CONTACT */





.contactform {

  padding: 20px;
  border: 3px solid;
  border-radius: 10px;
  margin: 0px;
  
}

input {
  width: 50%;
  height: 30px;

}

#text {
  width: 100%;
  height: 80%;
  margin:0px;
}
.btn-form:hover{
background-color: #570206;;
}
#formMessage {
  color: white;
}

/* paragraphe du contact*/
.form-container {
  
  backdrop-filter: blur(6px);
  padding: 4px;
  border-radius: 15px;
  max-width: 700px;
  margin: 40px auto;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-image: url("./assets/photos/phbaground3.jpg") center/cover no-repeat;
}

.formcontact{
  background: url("./assets/photos/phbaground3.jpg") 
  center/cover no-repeat;
}


.form-container h2 {
  font-size: 28px;
  margin-bottom: 20px;
  text-align: center;
}

.form-container label {
  width: 100%;
  font-size: 20px;
  font-weight: bold;
}

.form-container input,
.form-container textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  margin-top: 5px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: none;
  outline: none;
}

.contact {
  color: white;
  display: flex;
  flex-direction: column;
  font-size: 30PX;
  align-items: center;
  gap: 15px;
  margin: 20px;
  padding: 20px;
  

}

.btn-form {
  border: 2px solid rgb(45, 138, 138);
  border-radius: 25px;
  margin: 5px;
  padding: 5px 15px;
  cursor: pointer;
  width: 250px;
  color: white;
  font-size: large;
  background-color: #310a0a;
}

.btn h2 {
  margin: 3px;
}

/*Footer*/
.footer {
  background-color: black
  ;
  padding: 20px;
  text-align: center;
}
.footer p {
  color: white;
  margin: 5px 0;
}

.abonner {
  padding: 8px 20px;
  border-radius: 20px;
  border: 2px solid teal;
  cursor: pointer;
  background-image: linear-gradient(red, rgb(5, 2, 51));
  transition: 0.3s ease;
}

.abonne-animation {
  background-color: #28a745;
  transform: scale(1.1);
  animation: pop 0.4s ease;
}

@keyframes pop {
  0% {
    transform: scale(1);
    opacity: 0.5;
  }

  50% {
    transform: scale(1.2);
    opacity: 1;
  }

  100% {
    transform: scale(1.1);
  }
}
.movie-card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 15px;
}
.movie-card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px #6e6c6c;
}
.movie-title {
  color: white;
  text-align: center;
  padding: 10px 0;
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
}
.movie-title:hover {
  color: #6e6c6c; 
}

.movie-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.details-container {
  display: flex;
  gap: 30px;
  max-width: 1250px;
  margin: 40px auto;
  padding: 20px;
  border-radius: 15px;
  background-color: #f7e7e7;
  background-image: url("./assets/photos/film-background-1334067869u9d.jpg");
  font-family: "Inter", sans-serif;
  font-size: 16px;
  color: #242020;
  align-items: stretch;
  flex-wrap: wrap; 
}

.details-img-wrapper,
.details-info {
  flex: 1;              
  min-width: 300px;     
}

.details-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(139, 136, 136, 0.45);
}
.details-info ul {
  list-style: none; 
  padding: 0;
  margin-top: 10px;
}

.details-info li {
  background: #f0f0f0; 
  padding: 10px 12px;
  margin-bottom: 8px;
  border-radius: 10px;
  color: #242020;
  border: none; 
  box-shadow: none; 
}

.back-btn {
  display: inline-block;
  width: 100px;
  height: 35px;
  line-height: 35px;    
  text-align: center;
  background-color: #310a0a; 
  color: white;
  text-decoration: none; 
  font-weight: 600;
  border-radius: 10px;           
  cursor: pointer;
  margin-top: 20px;
  border: none;       
  box-shadow: none;   
  transition: 0.3s;
}

.back-btn:hover {
  background-color: #570206; 
}
/***Pop UP*/
.cookie-popup {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background: #ffffff;
  padding: 15px 20px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.2);
  z-index: 1000;
  display: flex;
  align-items: center;
  gap: 15px;
  animation: fadeIn 0.4s ease;
}

.cookie-btn {
  padding: 8px 15px;
  border: none;
  background: #1f0802;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
}

.cookie-btn:hover {
  background: #005fcc;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translate(-50%, 20px); }
  to { opacity: 1; transform: translate(-50%, 0); }
}
